{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HOME{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% if user.is_authenticated %}
    <h1 style="color: black;text-align: center;">Welcome {{ user.username }}!</h1>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}
</body>
</html>